<div class="divTop" style="background:#efefef;">
    <h2 style="color:green; font-size:xx-large; font-weight:bold;">OUR BLOG---------------------------------------------------------------</h2>
</div>

<div class="blog-post">
  <span class="ob-blog1"><img src="../../assets/img/homepage-image-sample-blog-1.jpg">
    <div>October 9th 2019</div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</span>
  <span class="ob-blog2"><img src="../../assets/img/homepage-image-sample-blog-2.jpg"><div>October 9th 2019</div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </span>
  <span class="ob-blog3"><img src="../../assets/img/homepage-image-sample-blog-3.jpg"><div>October 9th 2019</div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </span>
</div>