<div class="igDivTop" style="background:white;">
  <span class="igHashtag-left">
    #STANSPORT
  </span>
  <span class="igHashtag-right">
      <svg style="width:30px; height:30px; fill:#4e5e81;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-footer-icon-social-instagram"></use>
      </svg>
    @stansport
  </span>
</div>
<div class="igMainDiv">
  <span class="igRow">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-1.jpg'}}">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-2.jpg'}}">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-3.jpg'}}">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-4.jpg'}}">
  </span>
  <span class="igRow">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-5.jpg'}}">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-6.jpg'}}">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-7.jpg'}}">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/homepage-image-sample-instagram-8.jpg'}}">
  </span>
</div>