<div class="igDivTop" style="background:white;">
  <span class="igHashtag-left">
    #STANSPORT
  </span>
  <span class="igHashtag-right">
      <svg style="width:30px; height:30px; fill:#4e5e81;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-footer-icon-social-instagram"></use>
      </svg>
    @stansport
  </span>
</div>
<div class="igMainDiv">
  <span class="igRow">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-1">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-2">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-3">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-4">
  </span>
  <span class="igRow">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-5">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-6">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-7">
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="homepage-image-sample-instagram-8">
  </span>
</div>