<div class="divTop" style="background: white;">
  <h2 style="color:orange; font-size:xx-large; font-weight:bold;">OUR INITIATIVE ---------------------------------------------------------------</h2>
</div>
<div class="initiativeContent">
  <img class="lazyload" data-size="auto" src="{{cdn 'img/homepage-image-our-initiative.jpg'}}" style="width:80%; height:auto;">
  <div class="initiativeContent-text">
    <span id="initiative-icon">
        <svg style="fill:white; width:200px; height:200px;"><use xlink:href="#icon-homepage-logo-encouraging-outdoors" /></svg>
    </span>
    <p>In 2014 Stansport found a way to give back to local communities while encouraging youth to get outside an experience the outdoors. Stansport's goal in hosting this event each year is to encourage children and their families to spend more time outdoors and experience the joys of camping.</p>
    <span class="initiativeLink">
      <a href="/initiative.php">
        <b style="font-size:x-large; color:white;">READ MORE</b>
        <svg style="fill:white; width:15px; height:15px; margin-left:5px; margin-top:2px"><use xlink:href="#icon-homepage-icon-cta-arrow" /></svg>
      </a>
    </span>
  </div>
</div>