<div class="divTop">
    <h2 style="color:orange; font-size:xx-large; font-weight:bold;">WHO WE ARE---------------------------------------------------------------</h2>
</div>
<!-- <div class="videoWrapper">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/u48-X-SfCoc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->
<div>
  <img class="lazyload" src="../../assets/img/homepage-image-video-thumbnail.jpg">
</div>
<div class="whoWeAreBottom">
  <p>Adventures are not only for the hardcore mountaineers, they are for anyone who finds themselves enjoying the outdoors and craving a breath of fresh air. Since 1949, Stansport has been providing quality, yet affordable camping gear for the everyday camper.<br><br>
  We are a 70-year-old family run company with a history of supplying high value camping gear to the full spectrum of outdoor activity shoppers, from millenials buying gear for a weekend trip to the beach, to parents purchasing gear for the next backyard family barbecue, to those seeking a deeper adventure at their State Parks and beyond.<br><br>
  Stansport welcomes you to our world<br>
  <b>THE GREAT OUTDOORS</b>
  </p>
  
</div>